In [59]:
import numpy as np
import pandas as pd
df=pd.read_csv("Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [37]:
#df.head()   # by default it gives first 5 rows
#df.head(10)
df.tail()  # by default it gives last 5 rows
df.tail(6) # gives last 6 rows

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [42]:
df.iloc[4]

Id                         5
SepalLengthCm            5.0
SepalWidthCm             3.6
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 4, dtype: object

In [43]:
df.loc[4]

Id                         5
SepalLengthCm            5.0
SepalWidthCm             3.6
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 4, dtype: object

In [61]:
df1=df['Id']=10
df1

10

In [48]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,10,5.1,3.5,1.4,0.2,Iris-setosa
1,10,4.9,3.0,1.4,0.2,Iris-setosa
2,10,4.7,3.2,1.3,0.2,Iris-setosa
3,10,4.6,3.1,1.5,0.2,Iris-setosa
4,10,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,10,6.7,3.0,5.2,2.3,Iris-virginica
146,10,6.3,2.5,5.0,1.9,Iris-virginica
147,10,6.5,3.0,5.2,2.0,Iris-virginica
148,10,6.2,3.4,5.4,2.3,Iris-virginica
149,10,5.9,3.0,5.1,1.8,Iris-virginica

In [70]:
import pandas as pd
# Load data from a CSV file
df = pd.read_csv('Iris.csv')
column_data = df['SepalWidthCm'] 
#print(column_data)
first_row = df.iloc[0] 
first_row_label = df.loc[0]
filtered_data = df[df['SepalWidthCm'] > 50] 
print(first_row)
print(first_row_label)

Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object
Id                         1
SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 0, dtype: object

In [54]:
df['sepal']=df['SepalLengthCm'] +df['SepalWidthCm']
df['sepal']
df
# axis =0 means rows and looks for index values and axis =1 means columns

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sepal
0,10,5.1,3.5,1.4,0.2,Iris-setosa,8.6
1,10,4.9,3.0,1.4,0.2,Iris-setosa,7.9
2,10,4.7,3.2,1.3,0.2,Iris-setosa,7.9
3,10,4.6,3.1,1.5,0.2,Iris-setosa,7.7
4,10,5.0,3.6,1.4,0.2,Iris-setosa,8.6
...,...,...,...,...,...,...,...
145,10,6.7,3.0,5.2,2.3,Iris-virginica,9.7
146,10,6.3,2.5,5.0,1.9,Iris-virginica,8.8
147,10,6.5,3.0,5.2,2.0,Iris-virginica,9.5
148,10,6.2,3.4,5.4,2.3,Iris-virginica,9.6
149,10,5.9,3.0,5.1,1.8,Iris-virginica,8.9

In [72]:
df.drop(["Id"], axis=1, inplace=True)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [76]:
df=df.rename(columns={'Species': 'Sepa'})
print(df)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm            Sepa
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [78]:
df.columns=['SepalLength', 'SepalWidth', 'PetalLength',  'PetalWidthCm','Sepal_cm']
print(df)

     SepalLength  SepalWidth  PetalLength  PetalWidthCm        Sepal_cm
0            5.1         3.5          1.4           0.2     Iris-setosa
1            4.9         3.0          1.4           0.2     Iris-setosa
2            4.7         3.2          1.3           0.2     Iris-setosa
3            4.6         3.1          1.5           0.2     Iris-setosa
4            5.0         3.6          1.4           0.2     Iris-setosa
..           ...         ...          ...           ...             ...
145          6.7         3.0          5.2           2.3  Iris-virginica
146          6.3         2.5          5.0           1.9  Iris-virginica
147          6.5         3.0          5.2           2.0  Iris-virginica
148          6.2         3.4          5.4           2.3  Iris-virginica
149          5.9         3.0          5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [80]:
grouped_data = df.groupby('Sepal_cm').mean() 
print(grouped_data)

                 SepalLength  SepalWidth  PetalLength  PetalWidthCm
Sepal_cm
Iris-setosa            5.006       3.418        1.464         0.244
Iris-versicolor        5.936       2.770        4.260         1.326
Iris-virginica         6.588       2.974        5.552         2.026

In [82]:
sorted_df = df.sort_values(by='SepalLength', ascending=True) 
print(sorted_df)

     SepalLength  SepalWidth  PetalLength  PetalWidthCm        Sepal_cm
13           4.3         3.0          1.1           0.1     Iris-setosa
42           4.4         3.2          1.3           0.2     Iris-setosa
38           4.4         3.0          1.3           0.2     Iris-setosa
8            4.4         2.9          1.4           0.2     Iris-setosa
41           4.5         2.3          1.3           0.3     Iris-setosa
..           ...         ...          ...           ...             ...
122          7.7         2.8          6.7           2.0  Iris-virginica
118          7.7         2.6          6.9           2.3  Iris-virginica
117          7.7         3.8          6.7           2.2  Iris-virginica
135          7.7         3.0          6.1           2.3  Iris-virginica
131          7.9         3.8          6.4           2.0  Iris-virginica

[150 rows x 5 columns]

In [84]:
import pandas as pd
df=pd.read_csv('Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica