In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [6]:
# Define the URL of the IMDb Top 250 movies page
url = 'https://www.imdb.com/chart/top/'
# Send an HTTP GET request to fetch the page content
response = requests.get(url)
response

In [8]:
headers = {
 'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64)AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124Safari/537.36'
}
# Send an HTTP GET request with the headers
response = requests.get(url, headers=headers)
response

In [9]:
if response.status_code==200:
  print("Success")
else:
  print("Failed")

Success

In [ ]:
soup = BeautifulSoup(response.content, 'html.parser')
#soup

print(soup.prettify())
#print(soup.prettify()[:2000]), what is the use of :2000 here

In [14]:
# Create empty lists to store movie titles, years, ratings, and URLs
titles = []
years = []
ratings = []
urls = []
# Find all the movie items in the HTML
movie_items = soup.find_all('item')
movie_items

[]

In [16]:
# Loop through the rows to extract movie information
for row in movie_items:
    title_column = row.find('td', class_='titleColumn')
    if title_column: # Check if title_column is not None
       title = title_column.a.text # Get the movie title
       titles.append(title) # Append title to the list
 # Extract year
       year = title_column.span.text.strip('()') # Removeparentheses
       years.append(year) # Append year to the list
 # Extract rating
       rating_column = row.find('td', class_='ratingColumnimdbRating')
    if rating_column:
        rating = rating_column.strong.text # Get the rating
        ratings.append(rating) # Append rating to the l

In [17]:
print("Titles:", titles[:5])
print("Years:", years[:5])
print("Ratings:", ratings[:5])

Titles: []
Years: []
Ratings: []

In [ ]:
print(soup.prettify()[:2000]) ## Print the first 500 characters of theprettified HTML

In [20]:
import json
json_data = soup.find('script', type='application/ld+json')
if json_data:
 # Parse the JSON data
 data = json.loads(json_data.string)
#data # observe data
# Extract titles and ratings
titles = []
urls = []
descriptions = []
best_ratings = []
worst_ratings = []
ratings = []
genres = []
durations = []

In [21]:
if 'itemListElement' in data:
 for item in data['itemListElement']:
     movie = item['item']

 # Extract movie details
 titles.append(movie['name']) # Movie name
 urls.append(movie['url']) # Movie URL
 descriptions.append(movie['description']) # Movie description

 # Extract ratings (best, worst, actual rating)
 best_ratings.append(movie['aggregateRating']['bestRating']) #Best rating
 worst_ratings.append(movie['aggregateRating']['worstRating'])
# Worst rating
 ratings.append(float(movie['aggregateRating']['ratingValue']))
# Rating value

 genres.append(movie['genre']) # Movie genre
 durations.append(movie['duration']) # Movie duration

In [23]:
df = pd.DataFrame({
 'Title': titles,
 'URL': urls,
 'Description': descriptions,
 'Best Rating': best_ratings,
 'Worst Rating': worst_ratings,
 'Rating': ratings,
 'Genre': genres,
 'Duration': durations
})
# Print the first few rows of the DataFrame
df.head()

,Title,URL,Description,Best Rating,Worst Rating,Rating,Genre,Duration
0,Gekij√¥-ban Kimetsu no Yaiba Mugen Ressha-hen,https://www.imdb.com/title/tt11032374/,After his family was brutally murdered and his...,10,1,8.2,"Animation, Action, Adventure",PT1H57M

In [24]:
df.to_csv('topIMBDmovies.csv', index=False) # Setting index=Falseexcludes the row index from being written to the file.
print("Data saved in CSV format'")

Data saved in CSV format'